:root {
  --primary-colour: rgba(37, 188, 188, 0.849);
  --portfolio-colour: rgba(173, 23, 153, 0.897);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

/***********************************/
/* GENERAL STYLES */
/***********************************/
.line {
  height: 2px;
  background-color: black;
}
.content-wrapper {
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-rows: 1fr 0.8fr 1fr 1fr 100px;
}

.margin-bottom {
  margin-bottom: 15px;
}

/* section {
  border-bottom: 3px black solid;
} */

/***********************************/
/* PROFILE */
/***********************************/

.profile {
  background-color: var(--primary-colour);
}

.header {
  height: 100px;
  display: grid;
  grid-template-columns: 4fr auto;
  /* gap: 15px; */
  align-items: center;
}

.nav-grid {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  margin-right: 30px;
}

.profile-name {
  margin: 25px;
  color: aliceblue;
}

.nav-grid a {
  color: var(--primary-colour);
  background-color: aliceblue;
  padding: 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.nav-grid a:hover {
  text-decoration: underline;
  color: rgb(38, 151, 151);
}

.nav-grid a:visited {
  text-decoration: underline;
  color: rgb(30, 74, 74);
}

.profile p {
  color: white;
}

.black-bold-text {
  color: black;
}

.underscore-italic {
  text-decoration: underline;
  font-style: italic;
}

.main {
  max-width: 600px;
  padding: 60px;
}

.main h1 {
  font-size: 60px;
}

/***********************************/
/* ABOUT ME */
/***********************************/
.about {
  width: 500px;
  margin-top: 75px;
  padding-bottom: 75px;
  /* padding: 60px; */
}
.subheading {
  text-transform: uppercase;
  text-align: center;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about p {
  line-height: 1.4;
}
.left li {
  margin-bottom: 5px;
  margin-left: 50px;
}

/***********************************/
/* ABOUT ME */
/***********************************/

.portfolio {
  background-color: rgba(255, 192, 203, 0.41);
}

.portfolio h2 {
  margin-top: 75px;
}

.portfolio-grid {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  /* gap: 10px; */
}

.title {
  background-color: aliceblue;
  border: solid 5px rgba(173, 23, 153);
  padding: 25px;
  width: 300px;
}

.title h4 {
  font-size: 24px;
  margin-bottom: 12px;
}

.title p {
  margin-bottom: 50px;
  line-height: 1.5;
}

.title button {
  background-color: var(--portfolio-colour);
  color: aliceblue;
  padding: 5px 30px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.title a {
  display: block;
  text-align: center;
  color: var(--portfolio-colour);
  font-weight: 600;
}

/***********************************/
/* experience */
/***********************************/
.experience {
  width: 500px;
  margin-top: 75px;
  padding-bottom: 75px;
}
.experience p {
  line-height: 1.4;
  margin-bottom: 16px;
}
footer {
  background-color: rgb(5, 38, 44);
  color: aliceblue;
  font-size: 18px;
  display: flex;
  align-items: center;
}

footer p {
  margin-left: 30px;
}

.profile,
.portfolio {
  border-bottom: solid black 3px;
}
.portfolio {
  border-top: solid black 3px;
}
